<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <title>MovieDB Exercise</title>

    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h2>Movies List</h2>
<div>
    <table class="movie">
        <tbody th:if="${not #lists.isEmpty(movies)}">
        <tr>
            <th>Movie ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Producer</th>
            <th>3D available</th>
            <th>Age Rating</th>
            <th>Likes</th>
            <th>Comments</th>
        </tr>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.movieId}">movieId</td>
            <td th:text="${movie.title}">title</td>
            <td th:text="${movie.description}">description</td>
            <td th:text="${movie.producer}">producer</td>
            <td th:text="${movie.availableIn3d} ? 'Yes' : 'No'">availableIn3d</td>
            <td th:text="${movie.ageRating}">ageRating</td>
            <td th:text="${movie.likes}">likes</td>
            <td><a th:href="@{'/movie/' + ${movie.movieId} + '/comments'}">View</a></td>
        </tr>
        </tbody>
        <tbody th:if="${#lists.isEmpty(movies)}">
        <tr>
            <td colspan="8">No movies found</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>