<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <title>Top User</title>

    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h2>Top User</h2>
<div>
    <table class="top-users">
        <tbody th:unless="${topUser == null}">
        <tr>
            <th>></th>
            <th>User</th>
            <th>Comments total</th>
        </tr>
            <td></td>
            <td th:text="${topUser.user}">user</td>
            <td th:text="${topUser.totalComments}">totalComments</td>
        </tr>
        </tbody>
        <tbody th:if="${topUser == null}">
        <tr>
            <td colspan="8">No user comments found</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>